@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('./styles/reset.css');
@import url('./styles/globalStyle.css');
@import url('./styles/loginPage.css');
@import url('./styles/login.css');
@import url('./styles/dynamicShift.css');