.loginError {
  border: solid 1px #e9b425;
}

#msgError {
  text-align: center;
  color: #e9b425;
  margin-top: 28px;
  font-weight: 700;
  font-size: 1.1em;
}

.msgErrorInvisible {
  visibility: hidden;
}

.passSpace {
  letter-spacing: 10px;
  font-size: 2.5em;
}
