#footerContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 10%;
}

#footer {
  position: relative;
  display: grid;
  grid-template-columns: 15.6% 28.6% 7.8% 5.5% 5% 23.5% 7% 7%;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  height: 100%;
  font-size: 0.7em;
  color: #ffffff;
}

#msgFooter {
  display: flex;
  align-items: center;
  grid-column: 2;
  text-align: right;
}
#verticalLine {
  position: absolute;
  left: 48%;
  top: 20%;
  height: 60%;
  border-right: #ffffff solid 1px;
}
#msgRefresh {
  grid-column: 4;
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 1.1em;
}
#timerBox {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeoutTimer {
  font-size: 3.5em;
  font-weight: bold;
}
#msgContinue {
  grid-column: 7;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #c13216;
  background-color: #ffffff;
  font-weight: 800;
}
#logout {
  grid-column: 8;
  font-size: 1.3em;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}
