#homePage {
  height: 100vh;
  display: none;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#containerHome {
  display: flex;
}

#homeImg {
  position: absolute;
  width: 500px;
}

#homeImg img {
  width: 100%;
  height: 100%;
}

#homeParagraphBox {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 5%;
  bottom: 25%;
  font-size: 1.5em;
  text-align: right;
}

#firstParagraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#homeParagraphBox h2 {
  color: #c12d18;
  font-size: 1.5em;
  font-weight: bold;
}

#homeParagraphBox h3 {
  color: #c12d18;
  font-size: 3em;
  font-weight: bold;
}

#homeParagraphBox {
  font-weight: 550;
  color: #222222;
}
