#homePage {
  height: 100vh;
  display: none;
  background: linear-gradient(105.96deg, #ffffff 0%, #f0f0f0 97.86%);
}

#header {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 1%;
  top: 1%;
  width: 99%;
}

#containerHome {
  display: flex;
}

#homeImg {
  position: absolute;
  bottom: 3%;
  width: 500px;
}

#homeImg img {
  width: 100%;
  height: 100%;
}

#homeParagraphBox {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-size: 1.2em;
  text-align: right;
}

#firstParagraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#homeParagraphBox h2 {
  color: #c12d18;
  font-size: 1.5em;
  font-weight: bold;
}

#homeParagraphBox h3 {
  color: #c12d18;
  font-size: 3em;
  font-weight: bold;
}

#homeParagraphBox {
  font-weight: 550;
  color: #222222;
}
