#loginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    position: relative;
    height: 50%;
}

#loginBox h2{
    font-size: 2em;
    font-weight: 550;
}

.loginBoxInput{
    background-color: transparent;
    border-radius: 50px;
    height: 60px;
    width: 100%;
    font-size: 1.2em;
    border: solid 1px #E0E0E0;
    color: #E0E0E0;
    padding-left: 20px;
    box-sizing: border-box;
}

#loginBoxInput:focus{
    outline-width: 0;
}

.inputBox{
    position: relative;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E0E0E0;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E0E0E0;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #E0E0E0;
  }

.loginBoxImg{
    width: 20px;
    position: absolute;
    top: 35%;
    right: 8%;
}

#msgErrorBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#msgError{
    width: 80%;
}

#loginBox button{
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    color: #E0E0E0;
    border: 0;
    height: 15%;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
