/* Left side */

#loginPage {
  display: flex;
}

#containerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;

  height: 100vh;
  width: 50%;
}

#greeting {
  width: 50%;
  position: relative;
  top: 7%;
}

#greeting h1 {
  font-weight: 500;
  font-size: 3.5em;
  margin: 17px 0;
}

/* Right Side */

#containerRight {
  background-image: url("../assets/login.png");
  background-size: cover;

  width: 50%;
  height: 100vh;
}

#logoCompassoWhite {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2%;
}

#logoCompassoWhite img {
  width: 40%;
}

#logoCompassoWhiteResponsive{
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4%;
  right: 4%;
}

#logoCompassoWhiteResponsive img{
  width: 60%;
}
