#timeClock {
  color: #222222;
  text-align: center;
}

#time {
  font-size: 10em;
  font-weight: 700;
}

#date {
  font-size: 1em;
  font-weight: 700;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: 700;
  color: #454545;
}

#weatherData {
  margin: 5%;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 2.5em;
  color: #454545;
}

#weatherData div {
  margin: 5%;
}

#weatherData img {
  width: 30px;
}
